@CHARSET "UTF-8";

.center {
	
}

body {
	color: #141412;
	line-height: 1.5;
	margin: auto;
	max-width: 1170px;
}

a {
	color: #88AF2B;
	text-decoration: none;
}

a:visited {
	color: #88AF2B;
}

a:focus {
	outline: thin dotted;
}

a:active, a:hover {
	color: #81a725;
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2",
		"Trebuchet MS", sans-serif;
	line-height: 1.3;
}

h1 {
	font-size: 48px;
	margin: 33px 0;
}

h2 {
	font-size: 30px;
	margin: 25px 0;
}

h3 {
	font-size: 22px;
	margin: 22px 0;
}

h4 {
	font-size: 20px;
	margin: 25px 0;
}

h5 {
	font-size: 18px;
	margin: 30px 0;
}

h6 {
	font-size: 16px;
	margin: 36px 0;
}

.navbar {
	background-color: #DFDFDF;
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}

.nav-right {
	float: right !important;
}

ul.nav-menu, div.nav-menu>ul {
	margin: 0;
	padding: 0 40px 0 0;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

.nav-menu li a {
	color: #141412;
	display: block;
	font-size: 15px;
	line-height: 1;
	padding: 15px 20px;
	text-decoration: none;
}

.nav-menu li:hover>a, .nav-menu li a:hover {
	background-color: #317572;
	color: #fff;
}

.nav-menu .sub-menu, .nav-menu .children {
	background-color: #317572;
	border: 2px solid #DFDFDF;
	border-top: 0;
	display: none;
	padding: 0;
	position: absolute;
	left: -2px;
	z-index: 99999;
}

.nav-menu .sub-menu ul, .nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a, .nav-menu ul ul a {
	color: #fff;
	margin: 0;
	width: 200px;
}

ul.nav-menu ul a:hover, .nav-menu ul ul a:hover {
	background-color: #db572f;
}

ul.nav-menu li:hover>ul, .nav-menu ul li:hover>ul {
	display: block;
}

.nav-menu .current_page_item>a, .nav-menu .current_page_ancestor>a,
	.nav-menu .current-menu-item>a, .nav-menu .current-menu-ancestor>a {
	color: #317572;
	font-style: italic;
}

.menu-toggle {
	display: none;
}

/* Navbar */
.navbar {
	background-color: #DFDFDF;
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}

button, input, textarea {
	border: 2px solid #d4d0ba;
	font-family: inherit;
	padding: 5px;
}

input, textarea {
	color: #141412;
}

input:focus, textarea:focus {
	border: 2px solid #c3c0ab;
	outline: 0;
}

.signup {
	width: 800px;
	margin: auto;
	display: table;
}

#body_job {
	padding: 35px;
	min-height: 600px;
	display: flex;
}

.dervish_output {
	margin: 10px;
	border: 3px solid #f2f2f0;
	max-width: 300px;
	max-height: 300px;
	display: table;
	padding: 10px;
}

.dervish_name {
	
}

dervish_photo {
	border: 3px solid #f2f2f0;
}
.dervish_name{
		font-weight: bold;
	
}
.dervish_skills {
	border: 3px solid #f2f2f0;
	overflow-x: hidden;
	-webkit-border-radius: 8px;
	padding: 3px;
}